
.bomb{
animation: bomb 1s linear;
animation-fill-mode: forwards;
animation-iteration-count: infinite;
}

@keyframes bomb {
  0%{transform: rotate(0deg);filter: hue-rotate(0deg);}
  100%{transform: rotate(1440deg);filter: hue-rotate(-180deg);}
}


.boomclock{
  animation-name: boomclock;
    animation-duration: 1s; 
    animation-timing-function:linear;   
    animation-iteration-count: infinite;
}
@keyframes boomclock {
   0%{transform: rotate(0deg);filter: hue-rotate(0deg);}
  100%{transform: rotate(-1440deg);filter: hue-rotate(-180deg);}
}

/**/
.boomanticlock{
  animation-name: boomanticlock;
    animation-duration: 1s; 
    animation-timing-function:linear;   
    animation-iteration-count: infinite;
}


@keyframes boomanticlock {
   0%{transform: rotate(0deg);filter: hue-rotate(0deg);}
  100%{transform: rotate(1440deg);filter: hue-rotate(180deg);}
}




 .box {
 	z-index: 2;
 	position: fixed;
 	top: 1vh;left: 1vw;
    width: 3em;
    height: 3em;
    background-color: #108040;
  }
  div.box.taphold {
    background-color: #7ACEF4;
  }


.topArcNew{

	 animation-name: topArcNew;
    animation-duration: 1s; 
    animation-direction: alternate;
    animation-timing-function:linear;   
    animation-iteration-count: infinite;
	z-index: 1;
      position: fixed;

}
  

  @keyframes topArcNew {
   0%{width: 40em; 
      height:40em;left:calc(50% - 20em);
      top:calc(50% - 18em);}
  100%{width: 45em; 
      height:45em;left:calc(50% - 22em);
      top:calc(50% - 20em);}
}

