@extends('kannu.eventLayer')

@section('style')

<link rel="stylesheet" type="text/css" href="css/button.css">
<link rel="stylesheet" type="text/css" href="css/eventmobile.css">
<link rel="stylesheet" type="text/css" href="css/hamburger.css">
<link rel="stylesheet" href="css/topNavBar.css">

@endsection

@section('content')

<!-- center element left section for laptop compleate -->
<div style="" class="contentLaptop">
	<img src="img/eventFinal/tabImg.png" class="img-responsive" style="max-width: 107%;">
	<div style="position: fixed;
    top: 33vh;
    left: 10vw;
    ">

	<h4 style="font-family: 'pirulen';    font-size: 4rem;
    letter-spacing: 3px;color: #fefefe" id="abhinav">WORKSHOPS</h4>
    <hr style="margin-top: 0px;
    border: 1.5px solid #dafcff;
    -webkit-box-shadow: 0px 0px 289px 104px rgba(0,131,177,0.77);
-moz-box-shadow: 0px 0px 289px 104px rgba(0,131,177,0.77);
box-shadow: 0px 0px 13px 2px rgba(0,131,177,0.77);
">
</div>
<!-- <div class="row" > -->
	<div class="col-sm-5 centerLapi" style="position: fixed;
    top: 48vh;font-size: 1.8rem;
    left: 9vw;color: #fefefe;font-family: 'Play', sans-serif;
    ">
		<p id="kaushik">
				Did you dream of making the Iron Man suit? Did you dream of building the Autobots? Are you fascinated by the gadgets and want to know how they work? Well, here&apos;s an opportunity for you to learn and explore the ingenious technologies. A chance to work under the guidance of renowned professionals and interact with other students who share common students. Buckle up and get ready to have hands-on enriching experience and realize your dreams!
		</p>

	</div>

</div>



<div class="circleLapi">
<div style="position: relative;top: 15%;left: -6%;" class="circleLapi">
<img src="img/eventFinal/ring.png" style="position: absolute;
    width: 65%;" >
</div>


</div>




<div class="center" style="background-image: url('img/eventsMob/box.png');margin-left: -5%;">
<div class="content" style="position: absolute;">
<div>
	<h4 id="heading" class="heading">WORKSHOPS</h4>
    <hr style="margin-top: 0px;width: 70%;
    border: 1.5px solid #dafcff;
    -webkit-box-shadow: 0px 0px 289px 104px rgba(0,131,177,0.77);
-moz-box-shadow: 0px 0px 289px 104px rgba(0,131,177,0.77);
box-shadow: 0px 0px 13px 2px rgba(0,131,177,0.77);
">
</div>
<p class="inelement" id="inelement" >
	Did you dream of making the Iron Man suit? Did you dream of building the Autobots? Are you fascinated by the gadgets and want to know how they work? Well, here&apos;s an opportunity for you to learn and explore the ingenious technologies. A chance to work under the guidance of renowned professionals and interact with other students who share common students. Buckle up and get ready to have hands-on enriching experience and realize your dreams!
</p>
</div>
</div>



<!-- center element left section for laptop compleate -->


@endsection